<!DOCTYPE html>
<html>
<head lang="de">
   {% include 'partials/head.html' %}
   {% block head %}{% endblock %}
</head>
<body>
<div class="sticky-footer">
   <header>
      <div class="sticky-footer-content">
         {% include 'partials/header.html' %}
      </div>
   </header>

   <main>
      <div class="sticky-footer-content">
         {% block main %}{% endblock %}
      </div>
   </main>

   <footer>
      <div class="sticky-footer-content">
         {% include 'partials/footer.html' %}
      </div>
   </footer>
</div>

{% block bottomScripts %}{% endblock %}
</body>
</html>