@import "https://fonts.googleapis.com/css?family=Open+Sans:400,700|Oswald:400,700";

body {
   font-family: "Open Sans", "Segue UI", Helvetica, Arial, sans-serif;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
   font-family: Oswald, Segue UI, Helvetica, Arial, sans-serif;
}