html, body {
   padding: 0;
   margin: 0;
   position: relative;
   height: 100%;
}

.sticky-footer {
   display: table;
   table-layout: fixed;
   width: 100%;
   height: 100%;

   header, footer {
      display: table-row;
      height: 1px;
   }

   main, #main {
      display: table-row;
      height: auto;
   }

   header, main, #main, footer {
      > .sticky-footer-content {
         display: table-cell;
         vertical-align: top;
         width: 100%;

         page-break-inside: auto;
         break-inside: auto;
      }
   }

   @media print {
      display: block;
      header, main, #main, footer {
         display: block;
         > .sticky-footer-content {
            display: block;
         }
      }
   }
}