// Paths
@bootstrap-dir: 'node_modules/bootstrap/less';

// Colors
@text-color: #333;
@link-color: red;
@link-hover-color: @text-color;

// Typo
@font-size-base: 15px;
@font-size-large: 18px;
@font-size-small: 13px;