{% extends "../templates/base.html" %}

{% block main %}
   <div>
      <h1>H1 Hallo Überschrift</h1>
      <h2>H2 Hallo Überschrift</h2>
      <h3>H3 Hallo Überschrift</h3>
      <h4>H4 Hallo Überschrift</h4>
      <h5>H5 Hallo Überschrift</h5>
      <h6>H6 Hallo Überschrift</h6>

      <p>Das ist ein Absatz mit etwas Text</p>
      <p>Das ist ein Absatz mit etwas Text und <a title="My link" href="index.html">einem Link</a></p>
      <p>Das ist ein Absatz mit etwas Text</p>
      <p>Das ist ein Absatz mit etwas Text</p>

      <img src="img/lab.jpg">

   </div>
{% endblock %}